In [9]:
import pandas as pd
players = pd.DataFrame([
    ['Juan Pollo',1,[23,12],[]],
    ['Gallo Goto',1,[13,1],[]],
    ['Rey Rata',1,[],[]],
    ['Melo Mico',1,[],[]]
],
columns=['name','alive','kills','powers']
)

players

         name  alive kills powers
0  Juan Pollo      1    []     []
1  Gallo Goto      1    []     []
2    Rey Rata      1    []     []
3   Melo Mico      1    []     []

In [11]:
players.to_pickle('players.df',)

In [13]:
p2 = pd.read_pickle('players.df')
p2

         name  alive kills powers
0  Juan Pollo      1    []     []
1  Gallo Goto      1    []     []
2    Rey Rata      1    []     []
3   Melo Mico      1    []     []

In [15]:
p2['alive'].sum()

4

In [16]:
players = np.load('players.npy')
players[1,2] = '0'
np.save('players',players)

In [17]:
players = np.load('players.npy')
players

array([['id', 'name', 'alive'],
       ['0', 'Juan Pollo', '0'],
       ['1', 'Gallo Goto', '1'],
       ['2', 'Rey Rata', '1'],
       ['3', 'Melo Mico', '1']], dtype='<U21')

In [6]:
from datetime import datetime
import time
#time = datetime.now()
#time

In [8]:
while datetime.now() < datetime(2024,6,20,7,42,0):
    time.sleep(1)
    print("hola")

hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola

In [1]:
import rallyFunctions as rf
rf.killPlayer(1)

In [23]:
players.loc[0]['alive'] = 0

/var/folders/t8/1dshmvf55gn478cb8nbc9x880000gn/T/ipykernel_38625/2059628885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players.loc[0]['alive'] = 0