In [24]:
import pandas as pd
players = pd.DataFrame([
    ['Juan Pollo',1,[],[]],
    ['Gallo Goto',1,[],[]],
    ['Rey Rata',1,[],[]],
    ['Melo Mico',1,[],[]]
],
columns=['name','alive','kills','powers']
)

players

         name  alive kills powers
0  Juan Pollo      1    []     []
1  Gallo Goto      1    []     []
2    Rey Rata      1    []     []
3   Melo Mico      1    []     []

In [11]:
players

array([['id', 'name', 'alive'],
       ['0', 'Juan Pollo', '1'],
       ['1', 'Gallo Goto', '1'],
       ['2', 'Rey Rata', '1'],
       ['3', 'Melo Mico', '1']], dtype='<U21')

In [16]:
players = np.load('players.npy')
players[1,2] = '0'
np.save('players',players)

In [17]:
players = np.load('players.npy')
players

array([['id', 'name', 'alive'],
       ['0', 'Juan Pollo', '0'],
       ['1', 'Gallo Goto', '1'],
       ['2', 'Rey Rata', '1'],
       ['3', 'Melo Mico', '1']], dtype='<U21')